body {
    background: #121212;
    color: white;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: #EA4F0D;
    font-size: 1.2em;
}

td, th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
